@page
@model IndexModel
@{
    Layout = "/Views/Shared/_LayoutClient.cshtml";
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="/Home/Index">Trang chủ</a>
                <a class="breadcrumb-item text-dark" asp-area="Identity" asp-page="/Account/Manage/Index">Tài khoản</a>
                <span class="breadcrumb-item active">Thông tin tài khoản</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Content Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">Tài khoản</span>
    </h2>
    @* <partial name="_StatusMessage" for="StatusMessage" /> *@
    <div class="row mx-5">
        <div class="col-md-5">
            <form id="profile-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                    <label asp-for="Username" class="form-label">Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.FirstName" class="form-control" placeholder="Please choose your username." />
                    <label asp-for="Input.FirstName" class="form-label">Tên</label>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.LastName" class="form-control" placeholder="Please enter your phone number." />
                    <label asp-for="Input.LastName" class="form-label">Họ đệm</label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                    <label asp-for="Input.PhoneNumber" class="form-label">Số điện thoại</label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>

                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>


<!-- Content End -->


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
