@using X.PagedList.Mvc.Core; @*import this so we get our HTML Helper*@
@using X.PagedList;
@*import this so we can cast our list to IPagedList (only necessary because ViewBag is dynamic)*@
@using X.PagedList.Mvc.Core.Fluent


@model IEnumerable<GearClub.Domain.Models.Product>
@{
    ViewData["Title"] = "ProductsByCategory";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
    var pagedList = (IPagedList)Model;
    string currentAction = "ProductsByCategory";
    string categoryId = ViewData["CategoryId"].ToString();
    string url = "/Product/ProductsByCategory/" + categoryId;
}

@foreach (var item in Model)
{
    <partial name="/Views/Shared/PartialViews/_ProductPartial.cshtml" model="@item"/>
}
<div class="col-12">
    @Html.PagedListPager(pagedList,
            page => Url.Action(currentAction, 
            new { page , id = categoryId }),
            PagedListRenderOptions.MinimalWithPageCountText
            )
</div>


