@model IEnumerable<GearClub.Presentation.CompositeModels.CategoryListModel>
@{
    Layout = null;
}

@foreach(var item in Model)
{
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
        <a class="text-decoration-none" href="/Product/ProductsByCategory/@item.Category.CategoryId">
            @{
                string imagePath = item.Category.CategoryId.ToString() + ".jpg";
            }
            <div class="cat-item d-flex align-items-center mb-4">
                <div class="overflow-hidden" style="width: 100px; height: 100px;">
                    <img class="img-fluid" src="/img/ProductImages/CategoryImages/@imagePath" 
                        alt="">
                </div>
                <div class="flex-fill pl-3">
                    <h6>@item.Category.Name</h6>
                    <small class="text-body">@item.ProductsInCategory sản phẩm</small>
                </div>
            </div>
        </a>
    </div>
}


